@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@700&display=swap");
body::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(108, 15, 117); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #209b97; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

body {
  font-family: "Spline Sans Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-image: url("/assets/bey2.jpg");
  background-attachment: fixed;
  background-size: cover;
}
a {
  text-decoration: none;
}
#me-png {
  width: 280px;
  height: 280px;
} /*
button {
  position: fixed;
}*/
.welcome {
  background-image: url("/assets/mountains.jpg");
  background-size: cover;
  z-index: 1000;
  position: fixed;
  top: 0;
  background-color: #1b0527;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/***label cargando****/
label {
  font-size: 15px;
  margin: 10px;
  color: #69f30e;
  font-family: "Spline Sans Mono", monospace;
}
/************/

/*********progressbar**********/
.container-bar {
  width: 200px;
  height: 5px;
  border-radius: 3px;
  background-color: #2d093f;
}
.progress {
  filter: brightness(1.5);
  width: 0px;
  height: 5px;
  border-radius: 3px;

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 20%,
    rgba(208, 41, 41, 1) 60%,
    rgba(252, 176, 69, 1) 95%
  );
}
/****/
/*****aparecer caraga****/
.appear {
  visibility: visible;
  animation: aparecer 0.8s ease-in-out;
}

.disappear {
  animation: aparecer2 1s ease-in-out;
}

@keyframes aparecer2 {
  0% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.09;
  }
  100% {
    opacity: 0;
  }
}
/*
@keyframes aparecer {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}*/
/*****************/
/*******DESAPARECER CARGA********/

@keyframes bye {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

/*****************/
/*********PRESENTACION***************/
#clean {
  color: #fff;
}
.header-terminal {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  align-items: row;
  justify-content: space-between;
  width: inherit;
  height: 25px;
  background-color: rgb(36, 36, 36);
}
.container-data-terminal {
  height: 575px;
  border-style: solid;
  border-color: rgb(36, 36, 36);
  border-width: 4.5px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.cursor {
  position: absolute;
  float: right;
  background-color: #69f30e;
  width: 8px;
  height: 17px;
  animation: parpadeo 1.8s infinite;
}

@keyframes parpadeo {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.btns-window {
  display: flex;
  flex-direction: row;
}
.btns-window > div {
  cursor: pointer;
  margin: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.menu-terminal {
  margin-top: 0px;
}
.container-lines-menu {
  cursor: pointer;
}
.container-lines-menu > img {
  height: 20px;
  width: 20px;
  margin: 5px;
}
.my-name {
  color: white;
  font-family: "Spline Sans Mono", monospace;
  font-size: 20px;
  margin-top: 0px;
}
/***************AQUIIIAQUIIII**********/
.container-my-data {
  margin: auto;
  margin-top: 10px;
  opacity: 0.9;
  width: 70vw;
  height: 600px;
  border-radius: 12px;
  background-color: #282a36;
}
@media only screen and (max-width: 480px) {
  .container-my-data {
    width: 98vw;
  }
}
.disappear-my-data {
  visibility: hidden;
}
.appear-my-data {
  margin-bottom: 150px;
  /* position: absolute;*/
  visibility: visible;
}

.hide-data-terminal {
  display: none;
}
/*
.container-icon-data {
  width: 200px;
}*/

.my-class {
  display: flex;
  flex-direction: column;
}
.my-class > div {
  margin: 20px;
}
.img-terminal {
  width: 20px;
  height: 20px;
}
/*********1PRESENTACION***************/

/***scrolls arrows**/
.arrow-down > span {
  z-index: 1000;
  font-size: 11px;
  font-family: "Spline Sans Mono", monospace;

  writing-mode: vertical-lr;
  animation: bounce 2s infinite;
  margin: 8px;
}
#scroll-down-left {
  float: left;
}
#scroll-down-right {
  float: right;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
/*** end scrolls arrows**/

/***portfolio section**/
.card {
  background-color: rgb(19, 23, 44);
  color: white;
}
.card > video {
  padding: 2px;
}
.card > img {
  padding: 2px;
}
#portfolio {
  padding: 8rem 3rem;
}

video {
  width: 80%;
  height: 30%;
}
#portfolio > h1 {
  text-align: center;
  color: #69f30e;
}
.portfolio-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
  flex-wrap: wrap;
}
.portfolio-container > div {
  width: 450px;
}
/*** ends portfolio section**/

/**img yo**/
small > span > img {
  width: 20px;
  height: 20px;
}
img {
  width: 50px;
  height: 50px;
}
/***en yo**/
.card-deck > div {
  margin: 10px;
}
/******SECTION SKILLS**********/

#knowledge > h1 {
  text-align: center;
  color: white;
} /*
#knowledge > img {
  width: 380px;
  height: 380px;
}*/
.container-ico {
  display: flex;

  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-ico > div {
  margin: 2px;

  text-align: center;
  align-items: center;
  flex: 30.33%;
  height: 100px;
}
.container-ico > div > img {
  filter: brightness(1.2);
}
.barra-skill {
  margin: 8px;
  height: 3px;
  border-radius: 3px;
  /* background-color: green; */
}
.skill {
  filter: grayscale(100%);
}
.skillColored {
  animation: pulso 1s ease-in-out;
}

@keyframes pulso {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
/****** ends SECTION SKILLS**********/
/****contact////////////////////////////////*/

.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: rgb(19, 23, 44);
}

.form-h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #3399ff;
  border-bottom: 3px solid #78788c;
}
input {
  color: white;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #78788c;
}
input:focus {
  border-bottom: 2px solid #bebed2;
}
.parrafo:before {
  content: attr(type);
  display: block;
  margin: 15px 0 0;
  font-size: 14px;
  color: #3399ff;
}
.btn-form {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #3399ff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
button:hover {
  background: #3399ff;
  color: rgb(255, 255, 255);
}
#contact > h1 {
  color: #69f30e;
}

/*****end contact **********/

.fondo-todos {
  background-image: url("/assets/coding2.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.fondo-todos > h1 {
  color: white;
}
