@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@700&display=swap");
body::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(108, 15, 117); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #209b97; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

body {
  font-family: "Spline Sans Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #100317;
}
a {
  text-decoration: none;
}
#me-png {
  width: 280px;
  height: 280px;
}
button {
  position: fixed;
}
.welcome {
  z-index: 1000;
  position: fixed;
  background-color: #1b0527;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/***label cargando****/
label {
  font-size: 15px;
  margin: 10px;
  color: #69f30e;
  font-family: "Spline Sans Mono", monospace;
}
/************/

/*********progressbar**********/
.container-bar {
  width: 400px;
  height: 3px;
  border-radius: 3px;
  background-color: #2d093f;
}
.progress {
  width: 0px;
  height: 3px;
  border-radius: 3px;

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 20%,
    rgba(208, 41, 41, 1) 60%,
    rgba(252, 176, 69, 1) 95%
  );
}
/****/
/*****aparecer caraga****/
.appear {
  visibility: visible;
  animation: aparecer 0.8s ease-in-out;
}
@keyframes aparecer {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/*****************/
/*******DESAPARECER CARGA********/
.disappear {
  animation: bye 2s;
}

@keyframes bye {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

/*****************/
/*********PRESENTACION***************/
#clean {
  color: #fff;
}
.header-terminal {
  display: flex;
  align-items: row;
  justify-content: space-between;
  width: inherit;
}
.cursor {
  background-color: #69f30e;
  width: 8px;
  height: 17px;
  animation: parpadeo 1.8s infinite;
}
@keyframes parpadeo {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.btns-window {
  display: flex;
  flex-direction: row;
}
.btns-window > div {
  cursor: pointer;
  margin: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.menu-terminal {
  margin-top: 0px;
}
.container-lines-menu {
  cursor: pointer;
  margin-top: 0px;
  border-radius: 1px;
  background-color: rgb(22, 13, 13);
  width: 16px;
  height: 12px;
}
.container-lines-menu > div {
  background-color: #fff;
  margin: 3px;
  height: 1px;
  width: 10px;
}
.my-name {
  color: white;
  font-family: "Spline Sans Mono", monospace;
  font-size: 3.9vw;
  margin-top: 0px;
}

.container-my-data {
  margin-top: 10px;
  opacity: 0.9;
  width: 99vw;
  height: 80vh;
  border-radius: 2px;
  background-color: rgba(108, 35, 135, 0.107);
  border-style: solid;
  border-color: #69f30e;
  border-width: 0.1px;
}
.disappear-my-data {
  visibility: hidden;
}
.appear-my-data {
  /* position: absolute;*/
  visibility: visible;
}
/*********1PRESENTACION***************/

/***scrolls arrows**/
.arrow-down > span {
  font-size: 11px;
  font-family: "Spline Sans Mono", monospace;

  writing-mode: vertical-lr;
  animation: bounce 2s infinite;
  margin: 8px;
}
#scroll-down-left {
  float: left;
}
#scroll-down-right {
  float: right;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
/*** end scrolls arrows**/

/***portfolio section**/
#portfolio {
  padding: 8rem 3rem;
}

video {
  width: 80%;
  height: 30%;
}
#portfolio > h1 {
  text-align: center;
  color: #69f30e;
}
.portfolio-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
  flex-wrap: wrap;
}
.portfolio-container > div {
  width: 450px;
}
/*** ends portfolio section**/

/**img yo**/
img {
  width: 50px;
  height: 50px;
}
/***en yo**/
.card-deck > div {
  margin: 10px;
}
/******SECTION SKILLS**********/
#knowledge {
  color: white;
  background-color: rgba(18, 5, 51, 0.784);
}
#knowledge > h1 {
  text-align: center;
}
#knowledge > img {
  width: 150px;
  height: 150px;
}
.container-ico {
  display: flex;

  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-ico > div {
  margin: 2px;
  border-top: solid 1px rgb(6, 84, 71);
  text-align: center;
  align-items: center;
  flex: 30.33%;
  height: 100px;
}
.barra-skill {
  margin: 8px;
  height: 3px;
  border-radius: 3px;
  /* background-color: green; */
}

/****** ends SECTION SKILLS**********/
